h1, h2 {
    font-family: "Cochin", "Times New Roman";
    font-weight: normal;
}

h6 {
    background: #ebebeb;
    border-radius: 4px;
    padding: 3px 8px;
}

ul {
    padding: 0 0 0 18px;
}

li {
    padding: 0;
}

.date {
    padding: 0 0 0 15px;
}

.details {
    margin: 0 0 0 15px;
}